.Main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
}

.Main > img {
    height: 35%;
    width: 35%;
}
