/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

html,body, #root{
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  font-style: bold;
  color: #282c34;
  background-image: linear-gradient(45deg,#61dafb,#c0e7f1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Box {
  display:inline;
  text-align: center;
  border-radius: 100px;
  background-color: cornsilk;
  margin: 5px;
  padding: 10px;
  box-shadow: 5px 5px 15px 5px #2856ad;
}

.Box2 {
  display:inline;
  text-align: center;
  border-radius: 100px;
  background-color: silver;
  margin: 5px;
  padding: 10px;
  box-shadow: 5px 5px 15px 5px #2856ad;
}
